/* Centering container vertically and horizontally */
.updation {
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center the section horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
    background-size: 100%;
    text-align: center; /* Center the content horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.updation h1 {
    margin-bottom: 20px;
    color: #fff;
}

.updation form {
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form horizontally */
    text-align: left; /* Reset text alignment for form inputs */
}

.updation form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.updation form input[type="text"],
.updation form input[type="password"] {
    width: calc(100% - 20px); /* Adjust input width minus padding */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.updation form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.updation form button:hover {
    background: linear-gradient(135deg, #fc5c7d 0%, #fcb69f 100%);
}

/* Styling the form */
#updateForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#updateForm label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#updateForm input[type="text"],
#updateForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#updateForm button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #36d1dc 0%, #fcb69f 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#updateForm button:hover {
    background: linear-gradient(135deg, #fcb69f 0%, #36d1dc 100%);
}

/* Styling the heading */
h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

body {
    background-size: 100%;
    background-color: #ffefd5;
    background: linear-gradient(135deg, #ffefd5 0%, #ffb6c1 100%);
}
